* {
    box-sizing: border-box;
    padding: 2px;
    margin: 2px;
}

:root {
  --off-white: #f6f6f6;
  --gray:#cdcdcd;
  --tan: #fffbf5;
  --cream: #ffebcd;
  --blue: #0076b1;
  --blue2: #0070a8;
}


a:link, a:visited {
  color: #f6f6f6;
}

a:hover {
  color: #f59e85;
  background-color: var(--cream);
  border-radius: 10px;
}


body {
  background-image: linear-gradient(to bottom right, var(--blue2), #d8d8d8, var(--blue), var(--cream));
  background-size: cover;
}

h1 {
  display: inline-block;
  font-size: 48px;
}

h2 {
  display: flex;
  flex: wrap;
  font-size: 150%;
  text-align: left;
  padding: 5px;
  color: var(--off-white);
  background-color: var(--blue2);
  border-radius: 10px;
}

h3 {
  font-size: 80%;
  background-color: var(--blue2);
  border-radius: 10px;
}

h4 { 
  display: flex;
  flex: wrap;
  font-size: 150%;
  text-align: left;
  padding: 5px;
  color: var(--off-white);
  background-color: var(--blue2);
  border-radius: 10px;
}

h5 {
  display: flex;
  flex: wrap;
  font-size: 120%;
  padding: 5px;
  background-color: var(--cream);
  color: var(--blue2);
  border-radius: 10px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
  margin: 2px, 5px, 0, 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: var(--off-white);
  background-image: linear-gradient(to top right, var(--blue2), #d8d8d8, var(--blue));
  border: 10px double var(--cream);
  border-radius: 20px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  text-decoration: none;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* ASK DURING OFFICE HOURS*/
figure {
  display: inline-flex;
  align-items: row;
  margin: 5px;
  padding: 20px;
  float: right;
  height: 18%;
  width: 54%;
  background-color: var(--cream);
  border: 10px double var(--blue2);
  border-radius: 20px; 
} 
  
.Portfolio {
  display: grid;
  margin: 5px, 5px, 7px, 5px;
  padding: 10px;    
  clear: both;
  float: left;
  width: 45%;
  height: 850px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  background-color: var(--cream);
  border: 10px double var(--blue2);
  border-radius: 20px;
  list-style: none;
  }

  /* ask for clarification on grid layout during office hours*/
.grid-container-1 {
  display: grid;
  }
  
.grid-item-1 {
  height: auto;
  width: 100%;
  }

.grid-container-2 {
  display: grid;
  height: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 2rem;
  }

.grid-item-2 {
  height: 150px;
  width: 50%;
  margin-bottom: 5px;
  }

.grid-item-2 img {
  flex: auto;
}
  
.Bio {
  display: flex;
  align-items: row;
  margin: 5px, 5px, 7px, 5px;
  padding: 20px;
  float: right;
  width: 54%;
  height: 70%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  background-color: var(--cream);
  border: 10px double var(--blue2);
  border-radius: 20px;
  }

.fig2 {
  opacity: .5;
}

.fig3 {
  opacity: .20;
}

.Contact {
  display: inline-flex;
  align-items: row;
  float: inline-end;
  margin-top: 40px;
  right: 5px;
  height: 10%;
  width: 54%;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0076b1;
  color: var(--off-white);
  border: 7px double var(--cream);
  border-radius: 20px;
}

  .Contact ul li {
    list-style-type: none;
    display: inline-flex;
  }

  #tree,
  #grid-item-1,
  #grid-item-2 {
    border-radius: 20px;
  }
  
  @media screen and (max-width: 700px) {
    Header,
    .Bio,
    .Portfolio,
    .Contact 
    {
     flex-direction: inline-flex; 
    }
  }