* {
    box-sizing: border-box;
    padding: 2px;
    margin: 2px;
}

:root {
  --white: #fff;
  --off-white: #f6f6f6;
  --gray:#cdcdcd;
  --tan: #fffbf5;
  --cream: #ffebcd;
  --blue: #0076b1;
  --blue2: #0070a8;
}

::selection {
  background-color: var(--blue2);
  color: var(--off-white);
}

a:link, a:visited {
  color: #f6f6f6;
}

a:hover {
  color: #f59e85;
  background-color: var(--cream);
  border-radius: 10px;
}

.Portfolio:hover,
.Bio:hover {
    box-shadow: inset 0px 0px 8px var(--blue), 0 0 20px var(--blue2);
  }

.Contact:hover {
    box-shadow: inset 0px 0px 8px var(--cream), 0 0 20px var(--off-white);
  }

body {
  background-image: linear-gradient(to bottom right, var(--blue2), #d8d8d8, var(--blue), var(--cream));
  background-size: cover;
  flex: auto;
}

h1 {
  display: inline-block;
  padding: 5px;
  font-size: 48px;
  background-color: var(--blue);
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 var(--cream);
}

h2 {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 150%;
  color: var(--off-white);
  background-color: var(--blue2);
  border-radius: 10px;
}

h3 {
  display: flex;
  flex: wrap;
  text-align: flex-start;
  width: 100%;
  padding: 10px;
  margin-top: auto;
  font-size: 90%;
  background-color: var(--blue2);
  border-radius: 10px;
}

h4 {
  font-size: 150%;
  text-align: left;
  padding: 5px;
  color: var(--off-white);
  background-color: var(--blue2);
  border-radius: 10px;
}

h5 {
  display: flex;
  flex: wrap;
  font-size: 120%;
  padding: 5px;
  background-color: var(--cream);
  color: var(--blue2);
  border-radius: 10px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
  margin: 2px, 5px, 0, 5px;
  font-family: 'Alegre', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: var(--off-white);
  background-image: linear-gradient(to top right, var(--blue2), #d8d8d8, var(--blue));
  border: 10px double var(--cream);
  border-radius: 20px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Poiret One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

header nav ul {
  text-decoration: none;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header a:hover {
  box-shadow: 0 20px 10px 0 var(--blue2);
  padding: 5px;
}

figure {
  display: inline-flex;
  align-items: row;
  margin: 5px;
  padding: 20px;
  float: right;
  height: 18%;
  width: 50%;
  background-color: var(--cream);
  border: 10px double var(--blue2);
  border-radius: 20px; 
} 
  
.Portfolio {
  flex-direction: inline-flex;
  align-content: center;
  margin: 10px, 5px, 10px, 10px;
  padding: 10px;    
  clear: both;
  float: left;
  width: 45%;
  height: 1000px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: var(--cream);
  border: 10px double var(--blue2);
  border-radius: 20px;
  list-style: none;
  }

.grid-container-1 {
  display: grid;
  flex: wrap;
  }
  
.grid-item-1 {
  flex: auto;
  height: auto;
  width: 100%;
  font-size: 120%;
  }

.grid-container-2 {
  display: grid;
  flex: wrap;
  height: 45%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48% 48%;
  grid-gap: 5rem;
  margin-top: 5px;
  }

.grid-item-2,
.grid-item-3 {
  flex: auto;
  height: 150px;
  width: 100%;
  margin: 10px, 5px, 10px, 5px;
  }

.grid-item-2 img,
.grid-item-3 img {
  flex: auto;
  padding: 10px, 0px, 10px, 0px;
}
  
.Bio {
  display: flex;
  align-items: row;
  margin: 5px, 5px, 7px, 5px;
  padding: 20px;
  float: right;
  width: 50%;
  height: 70%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: var(--cream);
  border: 10px double var(--blue2);
  border-radius: 20px;
  }

.Bio, p {
  align-content: center;
}

.fig2 {
  opacity: .5;
}

.fig3 {
  opacity: .20;
}

.Contact {
  display: inline-flex;
  align-items: row;
  float: inline-end;
  margin: 15px, 5px, 5px, 5px;
  right: 5px;
  height: 10%;
  width: 50%;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0076b1;
  color: var(--off-white);
  border: 7px double var(--cream);
  border-radius: 20px;
}

  .Contact ul li {
    list-style-type: none;
    display: inline-flex;
  }

  .Contact a:hover {
    box-shadow: 0 5px 10px 0 var(--off-white);
    padding: 5px;
  }

  #tree,
  #grid-item-1,
  #grid-item-2, 
  #grid-item-3 {
    border-radius: 20px;
  }

  @media screen and (max-width: 1000px){
  .Portfolio{
    height: 1600px;
  }

  .grid-container-1 {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container-2 {
    display: flex;
    flex-wrap: wrap;
  }

  #grid-item-1 {
    height: 200px;
    width: 100%;
  }
  }

  @media screen and (max-width: 768px) {
    Header,
    figure,
    .Bio,
    .Portfolio,
    .Contact {
     flex-direction: inline-flex;
     flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 560px) {
    
    .Contact {
      padding: 5%;
      margin-top: -1275px;
      margin-right: 5px;
      width: 50%;
      font-size: 80%;
      text-align: center;
    }
    
    .fig1 {
      display: flex;
      flex-direction: column;
    }

    .fig2,
    .fig3 {
      visibility: hidden;
    }

    #tree {
      width: 100%;
    }
  }

  @media screen and (max-width: 450px) {
    h3{
      background-color: var(--cream);
      color: var(--blue);
      margin-top: 5px;
    }
  }

  @media screen and (max-width: 380px) {

    h2{
      font-size: 100%;
    }

    h3{
      background-color: var(--cream);
      color: var(--blue);
    }
    
    h5{
      width: 20%;
      background-color: var(--blue);
      color: var(--cream);
    }

    .Portfolio {
      flex-wrap: wrap;
      align-items: center;
      padding: 5px;
      width: 120px;
    }
    
    .grid-item-3 {
      visibility: hidden;
    }
  }

  @media screen and (max-width: 325px) {
    a:hover {
      color: #f59e85;
    }

    Header,
    figure,
    .Bio,
    .Portfolio,
    .Contact,
    .grid-container-2 {
     flex-direction: column;
     flex-wrap: wrap;
     padding: 5%;
    }

    .Contact {
      align-items: start;
      margin-right: 55px;
      margin-top: -1100px;
      width: 80%;
      font-size: smaller;
    }

    #grid-item-1 {
      width: 70px;
      height: 70px;
    }

    #grid-item-2 {
      width: 50px;
      height: 50px;
    }
  }